{% extends "base.html" %} 
{% block content %}
<div class="mt-5 wow fadeInUp">
    <div class="card" style="width: 20%; margin: auto;">
      <div class="card-body shadow p-3 bg-white rounded">
        <h2 class="text-center">Login</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="row">
            <div class="col-12 mt-4">
              <label>Usuario: </label>
              <input type="text" name="username" class="form-control" placeholder="Ingresa un usuario"/>
            </div>
            <div class="col-12 mt-3">
              <label>Contraseña: </label>
              <input type="password" name="password" class="form-control" placeholder="***********"/>
            </div>
            <div class="col-12 d-grid mt-3 text-center"><br>
              <button type="submit" class="btn wow fadeInUp">
                Iniciar Session
              </button><br><br>
              <a href="{% url 'index' %}" class="btn wow fadeInUp">Entrar como invitado</a><br><br>
              <a href="{% url 'register' %}" class="wow fadeInUp">Registrate Aquí</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}