{% extends "base.html" %} 
{% block content %}

<div class="mt-5">
  <div class="card" style="width: 25%; margin: auto">
    <div class="card-body shadow p-3 bg-white rounded">
      <h2 class="text-center">Registro de Proyectos</h2><br>
      <form method="post" novalidate>
        {% csrf_token %} 
        {{ form.as_p }}
        <br>
        <div class="d-grid text-center">
          <button type="submit" class="btn btn-danger" >Añadir Proyecto</button>
        </div>
        <br>
        <div class="d-grid text-center">
        <a href="{% url 'index' %}" class="btn">Home</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const inputs = document.querySelectorAll("input");
  const text = document.querySelectorAll("textarea");

  inputs.forEach((input) => input.classList.add("form-control"));
  text.forEach((text) => {
            text.classList.add("form-control");
        });
</script>
{% endblock %}